*, 
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    background: linear-gradient(300deg, rgba(219,226,226,1) 0%, rgba(210,210,185,1) 52%, rgba(255,250,238,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: white;
    min-height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

main {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    line-height: 1.5rem;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.doctor_info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border:none;
}

button {
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}
.alert-danger {
    background-color: lightcoral;
    color: red;
}

.alert-success {
    color: lightseagreen;
    color: green;
}

a {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color:black;
    cursor: pointer;
}

.pet-name {
    font-weight: bold;
    margin-right: 50px;
}